@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

h1 {
    color: #863958;
    font-family: 'Poppins', sans-serif;
    
}
.fondo {
    width: 100%;

}
.contenedor {
    width: 100%;

}


.imagenFondo {
    background-image: url(./multimedia/fondoTransparente.png);
    background-color: #f79fbe5a;
    background-size: cover;
}

.nombres {
    font-family:  'Great Vibes', cursive;
    font-size: 7rem;
    font-weight: 100;
    text-transform: none;
    color: #f79fbe
    ;
    
}
.nombresY {
    font-family:  'Great Vibes', cursive;
    font-size: 60px;
    font-weight: 100;
    text-transform: none;
    color: #f79fbe;

        
}

.time {
    font-size: 7rem;
    color: #863958;
    text-align: center;
}

.timer {
    margin-top: 2%;
    background-color: #cfcecf6f;
    
}
.time-desc {
    font-size: 2rem;
    text-align: center;
    color: #863958
}

.fiesta {
    background-color: #f79fbe29;
    
}


.fiesta h2 {
    font-family:  'Great Vibes', cursive;
    text-align: center;
    font-size: 6rem;
    color: #863958

}
.fiesta p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    color: #863958

}

.boton {
    width: 25%;
}

.regalo {
    background-color: #f8f8f8;
}
.logo {
    width: 100px;
}
.regalo p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    color: #863958

}
.regalo h2 {
    font-family:  'Great Vibes', cursive;
    text-align: center;
    font-size: 6rem;
    color: #863958

}
.regalo h4 {
   font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    color: #863958

}
.nuestraHistoria {
    background-color: #f79fbe29;

}
.nuestraHistoria p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    color: #863958

}
.nuestraHistoria img {
    margin-top: 5%;
    width: 20%;
    opacity: 0.8;
    border-radius: 5%;
}

.instagram h2 {
    font-family:  'Great Vibes', cursive;
    text-align: center;
    font-size: 6rem;
    color: #863958

}
.instagram p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    color: #863958

}